* {
    /* outline: 1px solid red; */
    font-family: "Poppins", sans-serif;
    color: #d0d1d4;
}

.loader-container {
    z-index: 20;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1b1c20;
    transition: opacity 1s, visibility 1s;
}

.loader--hidden {
    opacity: 0;
    visibility: hidden;
}

/* HTML: <div class="loader"></div> */
.loader {
    width: 65px;
    aspect-ratio: 1;
    position: relative;
}

.loader:before,
.loader:after {
    content: "";
    position: absolute;
    border-radius: 50px;
    box-shadow: 0 0 0 3px inset #00d856;
    animation: l5 2.5s infinite;
}

.loader:after {
    animation-delay: -1.25s;
    border-radius: 0;
}

@keyframes l5 {
    0% {
        inset: 0 35px 35px 0
    }

    12.5% {
        inset: 0 35px 0 0
    }

    25% {
        inset: 35px 35px 0 0
    }

    37.5% {
        inset: 35px 0 0 0
    }

    50% {
        inset: 35px 0 0 35px
    }

    62.5% {
        inset: 0 0 0 35px
    }

    75% {
        inset: 0 0 35px 35px
    }

    87.5% {
        inset: 0 0 35px 0
    }

    100% {
        inset: 0 35px 35px 0
    }
}